.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subline {
    font-size: 34px;
    font-weight: bold;
    color: #fff;

    &:first-child {
        padding-right: 10px;
    }

    &:nth-child(2) {
        color: #4ce370;
    }

    &--large {
        font-size: 40px;
        line-height: 60px;
    }
}
