.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 150px;
    background-color: var(--tech-block-item-bg-color);
    border-radius: 1rem;
    padding: 20px 10px;
    box-shadow: var(--tech-block-item-box-shadow);
}

.image {
    filter: var(--svg-filter);
}

.title {
    line-height: 1.5rem;
    color: var(--tech-block-item-text-color);
    font-weight: var(--tech-block-item-font-weight);
}
