.header {
    position: fixed;
    width: 100%;
    z-index: 97;
    transition: background-color 0.5s ease;

    &--scrolled {
        background-color: #1d1d1d;
    }
}

.container {
    max-width: 1700px;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.menuWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink {
    text-decoration: none;
}

.logoLinkContent {
    font-size: 40px !important;
    font-weight: normal !important;

    &:first-child {
        padding: 0 !important;
    }
}

.menuContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.link {
    text-decoration: none;
}

.linkText {
    color: #fff;
    font-size: 18px;
    padding: 20px 30px;
    transition: 0.25s ease;

    &:hover {
        color: #4ce370;
    }
}

@media (max-width: 1139px) {
    .linkText {
        font-size: 14px;
        padding-right: 15px;
    }

    .menuContent {
        margin: 10px 0;
    }
}
