[data-theme="dark"] {
    --text-color: #fff;
    --bg-image: url("/bg.jpg");
    --bg-color-first: rgba(0, 0, 0, 0.95);
    --bg-color-second: #131313;
    --header-bg-color: none;
}

[data-theme="light"] {
    --text-color: #000;
    --bg-image: none;
    --bg-color-first: #f8f8ff;
    --bg-color-second: #e0e0e0;
    --header-bg-color: #1d1d1d;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
