.container {
    max-width: 1700px;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.anchor {
    display: block;
    position: relative;
    top: -118px;
}

.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color-first);
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: var(--text-color);
    padding-top: 100px;
}

.textInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    z-index: 96;
}

.infoDescription {
    text-align: center;
    font-size: 24px;
    line-height: 1.5em;
}

.infoDecoration {
    color: #4ce370;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.socialsLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #cdcdcd;
    color: #000;
    border-radius: 50%;
    z-index: 96;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

.section2 {
    width: 100%;
    background-color: var(--bg-color-second);
    padding-bottom: 150px;
}

.techGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 50px;
}

.section3 {
    background-color: var(--bg-color-first);
    padding-bottom: 100px;
}

.projectsGrid {
    width: min-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
}

.section4 {
    position: relative;
    background-color: var(--bg-color-second);
    padding-bottom: 100px;
    overflow: hidden;
}

.decorationRight {
    position: absolute;
    top: 100px;
    right: -125px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(76, 227, 112, 0.1);
    filter: blur(70px);
}

.decorationLeft {
    position: absolute;
    top: 80%;
    left: -200px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(76, 227, 112, 0.1);
    filter: blur(100px);
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.secondCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    border: 1px solid rgba(76, 227, 112, 0.05);
    border-radius: 50%;
}

.firstCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 580px;
    border: 1px solid rgba(76, 227, 112, 0.25);
    border-radius: 50%;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    border: 1px solid rgba(76, 227, 112);
    border-radius: 50%;
    overflow: hidden;
}

.emoji {
    font-size: 320px;
    transform: translateY(-15px);
    pointer-events: none;
}

.aboutInfo {
    width: 50%;
    padding-top: 35px;
}

.buttonWrapper {
    margin-top: 60px;
}
