.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px 40px 50px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.image {
    filter: var(--svg-filter);
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--tech-block-text-color);
}

.separator {
    width: 30%;
    height: 3px;
    background-color: #535353;
    border-radius: 10px;
    align-self: flex-end;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
