.wrapper {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 20px;
    transition: border 0.25s ease;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--border-color-hover);
    }
}

.imageWrapper {
    border-radius: 20px;
    overflow: hidden;
}

.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tag-bg-color);
    border-radius: 10px;
    padding: 3px 8px;
}

.tagText {
    font-size: 12px;
    font-weight: var(--tag-font-weight);
    color: var(--tag-text-color);
}

.info {
    width: 100%;
}

.title,
.thumbnail {
    color: var(--text-color);
    line-height: 1.6;
}

.title {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
